body {
    background:
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("images/clear.png") center / cover no-repeat;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.header {
    align-items: center;
    text-align: center;
    background-color: rgba(255, 220, 160, 0.4);
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    line-height: 0;
}

.sidepanel {
    font-size: 18px;
    text-align: left;
    background-color: rgba(255, 180, 255, 0.4);
    border: 3px solid black;
    margin: 10px;
    height: 80vh;
    text-align: left;
    overflow: visible;
}

.maindiv {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.contentsplit {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.info {
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
}

.milkshake {
    max-width: 90%;
    border: 3px solid black;
    margin-right: 10px;
    margin-top: 80px;
}

.bottomextras {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 5%;
    padding: 1%;
}

.media,
.gaming {
    display: inline-flex;
    gap: 20px;
}

.media img,
.gaming img {
    height: 30px;
    border-radius: 5px;
}

.media img:hover,
.gaming img:hover {
    scale: 1.1;
}
