body {
    background-color: #ffffff;
}

.card {
    background-color: #dddddd;
    border-radius: 5px;
    max-height: 500px;
    color: black;
    margin: 20px;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
}

.upperDetails {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0;
    margin: 0;
}

#date {
    text-align: right;
}

.details {
    display: grid;
    margin-left: 10px;
}

.stats {
    background-color: #bbbbbb;
    border-radius: 5px;
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(8, 12%);
}

.wfText,
.attemptsText,
.peakText,
.peakListText {
    display: block;
    text-align: left;
    border-bottom: 2px solid black;
}

.wf,
.attempts,
.peak,
.peakList,
.aem,
.gddl,
.nlw,
.enj {
    display: block;
    text-align: center;
}

.aemText,
.gddlText,
.nlwText,
.enjText {
    transform: rotate(90deg);
    transform-origin: left top;
    text-align: left;
    left: 15px;
}
