body {
    background:
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)),
        url("../images/clear.png") center / cover no-repeat;

    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;

    text-align: center;
    background-color: #000000;
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial;
}

* {
    color: #ffffff;
}

.card.legacy {
    position: relative;
    border-radius: 5px;
    height: 180px; /* hardcoding cuz im stupid - this this thumbnail height*/
    color: black;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    & .upperDetails {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 1%;
        padding: 0 2% 0 2%;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        font-size: 12px;
    }
    & .details {
        width: 50vw;
        display: grid;
    }
    & .stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    & .brick {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 1%;
        line-height: 0;
    }
    & .table {
        display: grid;
        grid-template-columns: 1fr;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        align-items: center;
        text-align: center;
        margin: 2%;
    }
    & #date {
        text-align: right;
    }
    & .aem,
    .gddl,
    .enj,
    .nlw,
    .attempts,
    .wf,
    .peak,
    .peakList {
        font-size: 20px;
        align-items: center;
        text-align: center;
    }
}

.card.modern {
    position: relative;
    border-radius: 5px;
    height: 110px;
    color: black;
    width: 70%;
    margin: auto;
    margin-top: 5px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    & p {
        margin: 0;
        padding: 15px;
        font-size: 30px;
    }
    & .detailsModern {
        display: grid;
        line-height: 0;
        grid-template-columns: 1fr 8fr 3fr 2fr 2fr 2fr;
        width: 100%;
        text-align: left;
        border-radius: 10px;
    }
    & .lvlWrapper {
        display: inline-flex;
        flex-direction: column;
        text-align: left;
        & .lvlTitle {
            font-size: 40px;
        }
        & .lvlPublisher {
            font-size: 20px;
        }
    }
    & .difficulties {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        & .numberWrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    & .peaks,
    .effort {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    & .enjModern {
        text-align: center;
        align-items: center;
    }
    & .lvlPlace {
        margin-left: 10%;
        text-align: center;
    }
    & .dateModern {
        font-size: 20px;
    }
}

.card.modern > * {
    align-items: center;
}

.card.grid img,
.card.legacy img {
    border-radius: 3px;
}

.gridstyle {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 0;
    justify-content: center;
}

.card.modern::before,
.card.legacy::before {
    border-radius: 5px;
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center;
    filter: blur(20px) brightness(0.7);
    transform: scale(1.1);
    z-index: -1;
}

.card.modern::before {
    filter: blur(2px) brightness(0.5);
}

.card.modern::after,
.card.legacy::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5px;
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center;
    filter: blur(40px) brightness(2);
    padding: 5px;

    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    pointer-events: none;
    z-index: 1;
}

.card > * {
    text-shadow: 0 0 7px #000;
    position: relative;
    z-index: 2;
}

.card:hover {
    scale: 1.05;
}

.record {
    position: relative;
    border-radius: 5px;
    height: 30px;
    color: black;
    background-color: rgba(30, 30, 30, 0.3);
    margin: 2px;
    padding: 10px;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    & .details {
        display: grid;
        width: 70vw;
    }
    & .stats {
        display: grid;
        grid-template-columns: 4fr repeat(7, 1fr);
        padding: 1%;
    }
    & .title {
        text-align: left;
    }
}

.options {
    position: absolute;
    left: 2%;
    top: 1%;
    display: grid;
    text-align: center;
    margin: 10px;
    gap: 10px;
    & .selections {
        display: flex;
        justify-items: center;
        gap: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 10px;
        & .selectionContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5%;
        }
        & p {
            font-size: 24px;
            line-height: 0px;
        }
        & button {
            font-size: 18px;
            width: 100px;
            height: 40px;
            color: #000;
            border-radius: 10px;
        }
    }
}
