body {
    min-height: 100vh;
    background-color: #050505;
    font-family: monospace;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    color: #ffffff;
}

h1 {
    font-size: 70px;
    line-height: 0;
}

h3 {
    font-size: 30px;
    line-height: 0;
}

.NIDLheader {
    display: flex;
    align-items: center;
    gap: 30px;
}

.NIDLheadInfo {
    display: flex;
    flex-direction: column;
    line-height: 0;
}

.NIDLheader img {
    width: 120px;
    height: 120px;
}

.list {
    margin: 0;
    width: 1400px;
}

.card {
    margin: 20px;
    border-radius: 10px;
    display: grid;
    position: relative;
    gap: 10px;
    grid-template-columns: 200px 320px 1fr;
    transform: translateX(-100px);
}

.card img {
    border-radius: 10px;
}
.card > * {
    font-size: 40px;
    text-shadow:
        0 0 4px #000,
        0 0 4px #000,
        0 0 4px #000,
        0 0 4px #000;
    position: relative;
    z-index: 2;
}

.card:hover {
    scale: 1.05;
}

.contents {
    gap: 20px;
    align-items: center;
    text-align: center;
}

.options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    & button {
        border-radius: 10px;
        width: 140px;
        height: 30px;
        border: none;
    }
    gap: 10px;
}

.cardContainer {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 1)
    );
    border-radius: 0 10px 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
    height: 180px;
}

.victors {
    text-align: right;
    line-height: 1;
    align-content: flex-start;
    & .followingVictors {
        color: rgba(255, 255, 255, 0.3);
        font-size: 20px;
    }
}

.level {
    line-height: 0;
    text-align: left;
    & .textPublisher {
        line-height: 1;
        align-content: center;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.3);
    }
}

.list a {
    width: 320px;
    height: 180px;
}

.levelPos {
    align-content: center;
    font-size: 50px;
    color: #333;
    text-align: center;
}

.gridstyle {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    transform: translateX(100px);
}

.gridstyle > * {
    max-width: 320px;
}
